{% extends 'core/base.html' %}

{% block title %}
    My Account
{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto p-6">
    <h1 class="mb-5 text-3xl">My Account</h1>
    
    <div class="flex flex-col">
        <div class="mb-4">
            <strong>Name:</strong> {{ request.user.get_full_name }}<br>
        </div>
        <div class="mb-4">
            <strong>Username:</strong> {{ request.user.username }}<br>
        </div>
        <div class="mb-4">
            <strong>Email:</strong> {{ request.user.email }}<br>
            
            <a href="{% url 'edit_myaccount' %}" class="inline-block mt-4 py-4 px-6 rounded-xl text-white bg-red-800">Edit</a>
        </div>
        
        <hr>

        <h2 class="mt-6 mb-4 text-xl">My Orders</h2> 
        
        {% for order in request.user.orders.all %}
            {% if order.id != 2 and order.id != 3 %}
                <div class="w-full mb-6">
                    <div class="bg-gray-100 rounded-xl p-6">
                        <a href="#" class="block mb-2">Order id: {{ order.id }}</a> 
                        
                        <div class="flex justify-between items-center mb-4">
                            <span>{{ order.created_at }}</span>
                            <span>Total: $ {{ order.total }}</span>
                        </div>
                        
                        {% for item in order.items.all %}
                            <div class="product flex items-center">
                                <a href="#" class="w-1/4">
                                    <img class="hover:shadow-lg rounded-xl" src="{{ item.product.image.url }}" alt="Product Image">
                                </a>
                                
                                <div class="w-3/4 pl-6">
                                    <div class="flex justify-between items-center"> 
                                        <a href="#" class="text-lg">{{ item.product.name }}</a>
                                        <p>Quantity: {{ item.quantity }}</p>
                                        <p class="text-right">Price: $ {{ item.product.price }}</p> 
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
